<div class="color-bg-emphasis px-4 py-4">
    {% include 'header.njk' %}
</div>
<div class="border-bottom px-4 py-2">
    {% include 'search.njk' %}
</div>

<div class="l-fret11ty-menu" id="elNavigation">
</div>

<div class="color-bg-subtle px-4 py-2">
    {% include 'footer.njk' %}
</div>

<script id="elNavigationTpl" type="x-tmpl-mustache">
<%#nav%>
    <%#data.length%>
    <details
        <%#hidden%>
            hidden
        <%/hidden%>
        <%#open%>
            open
        <%/open%>
    >
        <summary class="l-fret11ty-menu_title px-4 py-2 border-bottom color-bg-subtle">
            <span class="f4 text-bold"><%folder%></span>
        </summary>
        <%#data%>
        <a
            class="<%#selected%>color-bg-accent<%/selected%> l-fret11ty-menu_item pr-4 pl-6 py-2 border-bottom"
            href="<%url%>"
            <%#selected%>aria-current="page"<%/selected%>
        >
            <%name%>
        </a>
        <%/data%>
    </details>
    <%/data.length%>
<%/nav%>
</script>

<template id="elNavigationData">
{
    "nav": [
        {
            "folder": "Pages",
            "open": {{ page.filePathStem.indexOf("pages") != -1 or page.filePathStem == "/index" }},
            "data": [
                {%- for section in collections.pages -%}
                    {
                        "selected": {{ page.filePathStem == section.filePathStem }},
                        "url": "{{ section.url | url }}",
                        "name": "{{ section.data.title or section.fileSlug }}"
                    }{% if not loop.last %},{% endif %}
                {%- endfor -%}
            ]
        },
        {%- for folder in folders.folders -%}
            {
                "folder": "{{ folder.name }}",
                "open": {{ page.filePathStem.indexOf(folder.path) != -1 }},
                "data": [
                    {%- for section in collections[folder.name] -%}
                        {
                            "selected": {{ page.filePathStem == section.filePathStem }},
                            "url": "{{ section.url | url }}",
                            "name": "{{ section.fileSlug }}"
                        }{% if not loop.last %},{% endif %}
                    {%- endfor -%}
                ]
            }{% if not loop.last %},{% endif %}
        {%- endfor -%}
    ]
}
</template>
