<div class="input-group">
    <input class="form-control" placeholder="Search" type="text" id="elSearch">
    <span class="input-group-button">
        <button class="btn f6 text-mono" type="button" aria-label="Clear field" id="elSearchClear">
            Clear
        </button>
    </span>
</div>


