---
layout: page.njk
---

{% include 'page-header.njk' %}

<div class="l-fret11ty-flex">
    <div>
        Input path:
        <span class="text-mono">
            {{ page.inputPath }}
        </span>
    </div>
    <div>
        Date:
        <span class="Label Label--large mr-1">
            {{ page.date | postDate }}
        </span>
    </div>
</div>

<div class="l-fret11ty-flex">
    {% if page.inputPath.indexOf(".md") != -1 %}
        <div class="markdown-body">{{ content | safe }}</div>
    {% else %}
        {{ content | safe }}
    {% endif %}
</div>






