{% markdown %}
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo adipisci blanditiis quaerat vitae pariatur deleniti modi nobis magni iusto dicta eius cumque eligendi, dolore doloribus vel optio repellat labore. Earum.
{% endmarkdown %}

<p class="color-fg-accent">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo adipisci blanditiis quaerat vitae pariatur deleniti modi nobis magni iusto dicta eius cumque eligendi, dolore doloribus vel optio repellat labore. Earum.</p>

{% example ["m-danger", "m-accent"] %}
<button class="b-button %%modifier%%">
    CTA Value
</button>
{% endexample %}
